.wrapper {
  width: 1100px;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #acb3b2;
  overflow: hidden;
}

/*q1 */
.box-1 {
  width: 400px;
  height: 400px;
  background: #ff0000;
}

@media screen and (max-width: 960px) {
  .box-1 {
    width: 200px;
    height: 200px;
  }
}

/*q2 */

.box-2 {
  width: 400px;
  height: 400px;
  background: #ff0000;
}

@media screen and (max-width: 960px) {
  .box-2 {
    background: #007bff;
  }
}

/*q3 */

.container {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin: 50px auto;
}

.box-blue {
  width: 300px;
  height: 300px;
  background: #0008ff;
}

.box-green {
  width: 300px;
  height: 300px;
  background: #22ff00;
}

@media screen and (max-width: 960px) {
  .container {
    gap: 50px;
  }
}

/*q4 */

.container-2 {
  display: inline-block;
}

.box-4 {
  width: 300px;
  height: 300px;
  float: left;
  margin: 0 auto;
}

.red {
  background: #ff0000;
}

.blue {
  background: #0008ff;
}

@media screen and (max-width: 960px) {
  .box-4 {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

/*q5 */

.container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}


.red-5 {
  background: #ff0000;
}

.blue-5 {
  background: #0008ff;
}

.orange-5 {
  background: #ff8400;
}

@media screen and (max-width: 960px) {
  .container-3 {
    flex-direction: row-reverse;
  }
}


/*q6 */

.container-4 {
  display: flex;
  justify-content: center;
}

.box-6 {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  color: #000;
}

.green6 {
  background: #00ff51;
  order: 1;
}

.yellow6 {
  background: #d4ff00;
  order: 2;
}

.pink6 {
  background: #ff00e1;
  order: 3;
}

@media screen and (max-width: 960px) {
  .green6 {
    order: 2;
  }
  .yellow6 {
    order: 3;
  }
  .pink6 {
    order: 1;
  }
}

/*q7 */

.container-5 {
  display: flex;
  gap: 0;
}

.box-7red {
  width: 300px;
  height: 300px;
  background: #ff0000;
  display: block;
}

.box-7blue {
  width: 300px;
  height: 300px;
  background: #0008ff;
  display: none;
}

.box-7green {
  width: 300px;
  height: 300px;
  background: #00ff51;
  display: block;
}


@media (max-width: 960px) {
  .box-7red {
    display: none;
  }
  .box-7blue {
    display: block;
  }
}
