.wrapper {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #acb3b2;
  overflow: hidden;
}

.red    { background: #ff0000; }
.blue   { background: #0008ff; }
.orange { background: #ff8400; }
.green  { background: #00ff51; }
.yellow { background: #d4ff00; }
.pink   { background: #ff00e1; }


/*q1 */
.box-1 {
  width: 400px;
  height: 400px;
  background: #ff0000;
}

@media screen and (max-width: 960px) {
  .box-1 {
    width: 200px;
    height: 200px;
  }
}

/*q2 */

.box-2 {
  width: 400px;
  height: 400px;
  background: #ff0000;
}

@media screen and (max-width: 960px) {
  .box-2 {
    background: #007bff;
  }
}

/*q3 */

.container {
  display: flex;
  justify-content: center;
  gap: 150px;
  margin: 50px auto;
}

.box-blue {
  width: 300px;
  height: 300px;
  background: #0008ff;
}

.box-green {
  width: 300px;
  height: 300px;
  background: #22ff00;
}

@media screen and (max-width: 960px) {
  .container {
    gap: 50px;
  }
}

/*q4 */

.container-2 {
  display: inline-block;
}

.container-2::after {
  content: "";
  display: block;
  clear: both;
}

.box-4 {
  width: 300px;
  height: 300px;
  float: left;
}

@media screen and (max-width: 960px) {
  .box-4 {
    float: none;
    margin: 0 auto;
  }
}
/*q5 */

.container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

@media screen and (max-width: 960px) {
  .container-3 {
    flex-direction: row-reverse;
  }
}


/*q6 */

.container-4 {
  display: flex;
  justify-content: center;
}

.box-6 {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  color: #000;
}

@media screen and (max-width: 960px) {
  .green {
    order: 2;
  }
  .yellow {
    order: 3;
  }
  .pink {
    order: 1;
  }
}

/*q7 */

.container-5 {
  display: flex;
}

.box-7-1,
.box-7-2,
.box-7-3 {
  width: 300px;
  height: 300px;
}
.box-7-1 { display: block; }
.box-7-2 { display: none; }
.box-7-3 { display: block; }

@media (max-width: 960px) {
  .box-7-1 { display: none; }
  .box-7-2 { display: block; }
}
